$black: #111;
$blackTransparent: rgba($black,0.8);
$midGray: #aaa;
$white: #F0F0F0;
$whiteTransparent: rgba($white, 0.8);
$red: #ff4136;
$darkRed: #c9001a;
$green: #2ecc40;
$darkGreen: #086d25;
$lightBlue: #9DEFFF;
$blue: #0074d9;
$darkBlue: #002d90;
