@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v7/hBVCJrXaaeeHH0FNWdIheqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Chivo', sans-serif;
}

html, body, #root, .app {
	position: absolute;
	width: 100%;
	height: 100%;
}
