.image-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.image-importer,
.image-search-result,
.image-search-result img,
.combined-image-list,
.image-list,
.image,
.raw-image,
.cutout-image,
.cutout-image svg {
	width: 100%
}

.image-importer, .toggle-importer-btn, .image-editor {
	position: absolute;
	top: 0;
	left: 100%;
}

.combined-image-list {
	height: 100%;
	overflow: auto;
}

.image-editor-canvas {
	width: 100%;
	height: 100%;
}

.toggle-image-panel-btn {
	position: absolute;
	z-index: 1;

	&.open {
		top: 0;
		right: 50%;
	}

	&.closed {
		bottom: 0;
		left: 0;
	}
}
