$defaultFont: 'Chivo', sans-serif;

$black: #111;
$blackTransparent: rgba($black,0.8);
$midGray: #aaa;
$white: #F0F0F0;
$whiteTransparent: rgba($white, 0.8);
$red: #ff4136;
$darkRed: #c9001a;
$green: #2ecc40;
$darkGreen: #086d25;
$lightBlue: #9DEFFF;
$blue: #0074d9;
$darkBlue: #002d90;

.image-panel {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 100%;
	z-index: 1000;
}

.image-panel-overlay {
	position: absolute;
	top: 0;
	left: -50%;
	width: 200%;
	height: 100%;
	background: $blackTransparent;
}

.image-importer,
.image-search-result,
.image-search-result img,
.combined-image-list,
.color-picker,
.color-picker-form,
.image-list,
.image,
.raw-image,
.cutout-image,
.cutout-image svg {
	width: 100%;
}

.clear {
	clear: both;
}

.image-panel-section-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 25%;
	right: calc(100% + 1em);
	height: max-content;

}

.image-panel-section-btn,
.color-picker-options-btn,
.image-editor-btn,
.editor-export-btn,
.editor-exit-btn {
	position: relative;
	width: 5em;
	height: 5em;
	background-color: $black;
	border-radius: 50%;
	border: none;
	transition: 0.4s;

	svg {
		display: block;
		width: 65%;
		height: 65%;
		margin: 17.5% auto;
		& g, & path {
			fill: $white;
			transition: 0.4s;
		}
		transition: transform 0.4s;
	}

	p {
		position: absolute;
		top: calc(100% + 0.3em);
		left: -50%;
		width: 200%;
		text-align: center;
		color: $white;
		font-family: $defaultFont;
		font-size: 1.2em;
	}

	&:disabled {
		color: black;
		background-color: $white;

		svg {
			&, & g, & path {
				fill: $black;
			}
		}

		&:hover {
			svg {
				transform: none;
			}
		}
	}

	&:hover {
		svg {
			transform: rotateZ(45deg);
		}
	}
}

.image-panel-section-btn {
	margin: 1.5em 0.5em;
}

.image-editor-btn,
.editor-export-btn,
.editor-exit-btn {
	&:hover, &:disabled {
		background-color: $lightBlue;

		svg {
			&, & g, & path {
				fill: $black;
			}

			transform: none;
		}
	}
}

.editor-exit-btn svg {
	width: 50%;
	height: 50%;
	margin: 25% auto;
}

.toggle-image-panel-btn {
	position: absolute;
	z-index: 2000;

	&.open {
		top: 7.5%;
		left: 75%;
	}

	&.closed {
		bottom: 0;
		left: 0;
	}
}

.image-editor {
	position: absolute;
	top: 0;
	left: -50%;
	width: 200%;
	height: 100%;
	z-index: 10;
}

.image-editor-background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $whiteTransparent;
}

.image-editor-container {
	position: absolute;
}


.image-editor-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.image-editor-toolbox {
	position: absolute;
	top: 0;
	left: 0;

	.tool-buttons, .finish-buttons {
		display: flex;
		justify-content: space-around;
		position: absolute;
		width: 100%;
	}

	.tool-buttons {
		bottom: calc(100% + 1em);
	}

	.finish-buttons {
		top: calc(100% + 1em);
	}
}

.combined-image-list {
	position: absolute;
	height: 100%;
}

.color-picker, .image-importer, .image-list {
	position: relative;
	height: 85%;
	top: 7.5%;
	background-color: #FFF;
	border-radius: 3px;

	h1 {
		position: absolute;
		bottom: 100%;
		font-family: $defaultFont;
	}
}

.color-picker-sample, .color-picker-form {
	width: 100%;
}

.color-picker-sample {
    position: relative;
    top: 2em;
    left: 7.5%;
    width: 85%;
    height: 50%;
    border-radius: 50%;
}

.color-picker-options {
	position: relative;
    width: 100%;
    margin: 0 auto;
    top: 3em;
    display: flex;
    justify-content: space-around;
}

.color-picker-options-btn p {
	color: $black;
}

.color-picker-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	bottom: 2em;
	height: 25%;
	input {
		width: 80%;
		margin: 20px auto 0;
	}
}

.image-list-inner {
	height: 100%;
	overflow: auto;
	border-radius: 3px;

	&::-webkit-scrollbar { 
	    display: none; 
	}
}

.image {
	position: relative;
	padding: 5px;

	&:hover {
		.image-options {
			display: block;
		}
	}
}

.image-options {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-options-btn {
	display: block;
	margin: 5px auto;

	&:first-of-type {
		margin-top: 20%;
	}
}

button:active, button:visited, button:focus {
	outline: none;
}

input[type=range] {
	-webkit-appearance: none;

	&:focus {
	 	outline: none;
	}
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 8.4px;
		cursor: pointer;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border-radius: 0px;
	}
	&::-webkit-slider-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 20px;
		border-radius: 2px;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -5.8px;
	}
	&::-moz-range-track {
		width: 100%;
		height: 8.4px;
		cursor: pointer;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border-radius: 0px;
	}
	&::-moz-range-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 20px;
		border-radius: 2px;
		cursor: pointer;
	}
	&::-ms-track {
		width: 100%;
		height: 8.4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	&::-ms-fill-lower {
		border-radius: 0px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	&::-ms-fill-upper {
		border-radius: 0px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	&::-ms-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 20px;
		border-radius: 2px;
		cursor: pointer;
		height: 8.4px;
	}

	&.red::-webkit-slider-runnable-track {
		background: $darkRed;
		border: 0px solid $darkRed;
	}
	&.red::-webkit-slider-thumb {
		background: $red;
	}
	&.red:focus::-webkit-slider-runnable-track {
		background: $darkRed;
	}
	&.red::-moz-range-track {
		background: $darkRed;
		border: 0px solid $darkRed;
	}
	&.red::-moz-range-thumb {
		background: $red;
	}
	&.red::-ms-fill-lower {
		background: $darkRed;
		border: 0px solid $darkRed;
	}
	&.red::-ms-fill-upper {
		background: $darkRed;
		border: 0px solid $darkRed;
	}
	&.red::-ms-thumb {
		background: $red;
	}
	&.red:focus::-ms-fill-lower {
		background: $darkRed;
	}
	&.red:focus::-ms-fill-upper {
		background: $darkRed;
	}

	&.green::-webkit-slider-runnable-track {
		background: $darkGreen;
		border: 0px solid $darkGreen;
	}
	&.green::-webkit-slider-thumb {
		background: $green;
	}
	&.green:focus::-webkit-slider-runnable-track {
		background: $darkGreen;
	}
	&.green::-moz-range-track {
		background: $darkGreen;
		border: 0px solid $darkGreen;
	}
	&.green::-moz-range-thumb {
		background: $green;
	}
	&.green::-ms-fill-lower {
		background: $darkGreen;
		border: 0px solid $darkGreen;
	}
	&.green::-ms-fill-upper {
		background: $darkGreen;
		border: 0px solid $darkGreen;
	}
	&.green::-ms-thumb {
		background: $green;
	}
	&.green:focus::-ms-fill-lower {
		background: $darkGreen;
	}
	&.green:focus::-ms-fill-upper {
		background: $darkGreen;
	}

	&.blue::-webkit-slider-runnable-track {
		background: $darkBlue;
		border: 0px solid $darkBlue;
	}
	&.blue::-webkit-slider-thumb {
		background: $blue;
	}
	&.blue:focus::-webkit-slider-runnable-track {
		background: $darkBlue;
	}
	&.blue::-moz-range-track {
		background: $darkBlue;
		border: 0px solid $darkBlue;
	}
	&.blue::-moz-range-thumb {
		background: $blue;
	}
	&.blue::-ms-fill-lower {
		background: $darkBlue;
		border: 0px solid $darkBlue;
	}
	&.blue::-ms-fill-upper {
		background: $darkBlue;
		border: 0px solid $darkBlue;
	}
	&.blue::-ms-thumb {
		background: $blue;
	}
	&.blue:focus::-ms-fill-lower {
		background: $darkBlue;
	}
	&.blue:focus::-ms-fill-upper {
		background: $darkBlue;
	}

	&.alpha::-webkit-slider-runnable-track {
		background: $black;
		border: 0px solid $black;
	}
	&.alpha::-webkit-slider-thumb {
		background-color: $midGray;
		background-image: url("http://iconshow.me/media/images/ui/ios7-icons/png/512/eye_1.png");
		background-size: 20px 20px;
	}
	&.alpha:focus::-webkit-slider-runnable-track {
		background: $black;
	}
	&.alpha::-moz-range-track {
		background: $black;
		border: 0px solid $black;
	}
	&.alpha::-moz-range-thumb {
		background-color: $midGray;
		background-image: url("http://iconshow.me/media/images/ui/ios7-icons/png/512/eye_1.png");
		background-size: 20px 20px;
	}
	&.alpha::-ms-fill-lower {
		background: $black;
		border: 0px solid $black;
	}
	&.alpha::-ms-fill-upper {
		background: $black;
		border: 0px solid $black;
	}
	&.alpha::-ms-thumb {
		background-color: $midGray;
		background-image: url("http://iconshow.me/media/images/ui/ios7-icons/png/512/eye_1.png");
		background-size: 20px 20px;
	}
	&.alpha:focus::-ms-fill-lower {
		background: $black;
	}
	&.alpha:focus::-ms-fill-upper {
		background: $black;
	}
}
