.image-panel {
	width: 50%
}

.image-importer,
.image-search-result,
.image-search-result img,
.combined-image-list,
.image-list,
.image,
.raw-image,
.cutout-image,
.cutout-image svg {
	width: 100%
}

.image-editor-canvas {
	width: 100%;
	height: 100%;
}
